<%- include("../partials/header") %>


<section>
  <div class="container  mt-4">
    <div class="row">
      <a href="/admin/add-product" class="btn btn-success" type="button">Add Product</a>
    </div>
    <!--bs:table-->
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <% products.forEach(product => { %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.category %></td>
          <td><%= product.description %></td>
          <td><img src="/product-images/<%=product._id%>.jpg" alt="product-image" width="120"></td>
          <td><a href="/admin/edit-product/<%=product._id%>" class="btn btn-primary">Edit</a>
            <a href="/admin/delete-product/<%=product._id%>" class="btn btn-danger" onclick="return confirm('Are you want to delete <%= product.name %>?')">Delete</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <!--bs::table-->
  </div>
</section>


<%- include("../partials/footer") %>